/* Universal Styles */

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}




/* Header */

header {
  border-bottom: 1px solid seashell;
  display: flex;
  align-items: center;
  position: fixed;
  background-color: black;
  opacity: 0.9;
  width: 100%;
}

.logo {
  display: flex;
  align-items: flex-start;
  height: 50px;
  margin: 10px 0 9px 10px
}

.nav {
  display: flex;
  text-decoration: underline;
  align-items: flex-end;
  color: seashell;
  font-size: 22px;
}

a {
  padding-right: 20px;
}

/* Mission Section */





/* Featured Tea Section */




/* Locations Section */



/* Footer */
