/* Universal Styles */

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}


/* Header */

header {
  display: flex;
  position: fixed;
  background-color: black;
  border-bottom: 1px solid seashell;
  opacity: 0.9;
  width: 1500px;
  z-index: 1;
  height: 69px;
}

.logo {
  display: inline-block;
  padding: 10px;
  height: 50px;
}

.nav {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  left: 750px;
  text-decoration: underline;
  color: seashell;
  font-size: 22px;
}

a {
  padding-right: 50px;
}

/* Mission Section */

.mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  background-size: 1500px;
  width: 1300px;
  height: 750px;
  text-align: center;
}

.mission-txt {
  padding-top: 450px;
}

.description {
  background-color: black;
  padding: 15px;
  margin: 0;
}

/* Featured Tea Section */
/*
.featured-tea {
  display: flex;
  width: 1000px;
  height:730px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}*/

.text {
  align-items: center;
}

.tea {
  display: inline-block;
  flex-wrap: wrap;
  padding: 0 100px;
  justify-content: center;
}

.tea-child img {
  margin: 10px;
}


/* Locations Section */



/* Footer */
